input {
    all:unset;
    padding: 10px;
    border: 1px solid rgb(219,219, 219);
    margin-top: 10px;
}
input:focus,
input:active {
    border: 1px solid rgba(38, 38, 38, 0.4);
}

.navbar span {
    color: gray;
    padding: 10px; 

}

#image {
    
}

@keyframes change {
    0% {
        src: url(1.png);
    }
    33% {
        src: url(2.png);
    }
    66% {
        src: url(3.png);
    }
    100% {
        src: url(4.png);
    }


}