<div *ngFor="let product of products">
    <hr>
      <h3>
          <a href="{{ product.href }}" [title]="product.title + ' details'">
              {{ product.title }}
            </a>
          </h3>
          
      <p *ngIf="product.price">
          <img #product.href id="{{product.href}}" src="{{product.img1}}" style=" width: 20%; height: 20%;" /> 
          <button type="button"  (click)="next(product)" style="">NEXT</button>
          <br>
          Price: {{ product.price }} Rating: {{product.rating}} / 10
      </p>
  
      <button type="button" (click)="share(product.href)">
          Share
        </button>
        <button type="button" (click)="like(product)" id="{{product.title}}">Like | {{product.likes}}</button>
        
    <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
    </app-product-alerts>
</div>